<h1>Welcome to CS505 Project 1</h1>

<p>Please log in</p>
<%= form_tag user_session_path() do %>
  <div class="field-wrap">
    <label>
      User name<span class="req">*</span>
    </label>
    <%= text_field :user, class: "register", style: "font-weight:300" %>
  </div>
  <div class="field-wrap" style="margin-bottom:0">
    <label>
      Password<span class="req">*</span>
    </label>
    <%= password_field :password, class: "register password-field" %>
  </div>
          
  <button class="button signin-btn">Log In</button>
<% end %>
