<% byebug %>

<% if !@forbidden.active and @forbidden.attempts == 1 %>
<h1>Confirm Forbidden</h1>
<% else %>
<h1>Editing Forbidden</h1>
<% end %>
<%= render 'form', forbidden: @forbidden %>

<%= link_to 'Show', @forbidden %> |
<%= link_to 'Back', forbiddens_path %>
